extends layout

block content
 div.row
  div.col.s12.m6
    
  div#container
    div#fullpage
      div.section.fp-auto-height
        img#first.svg(src="/images/timeline.svg" alt="timeline")
        p Booked
      div.section.fp-auto-height
        p Allocated to Driver
        img#first.svg(src="/images/timeline.svg" alt="timeline")
      div.section.fp-auto-height
        p #{status}
        img#first.svg(src="/images/timeline.svg" alt="timeline")
      div.section.fp-auto-height
        p #{status}
        img#first(src="/images/timeline.svg" alt="timeline")
      div.section.fp-auto-height
        p #{status}
        img#first(src="/images/timeline.svg" alt="timeline")
      
