@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,700italic,600italic,400italic);
@font: "Source Sans Pro", Helvetica, Arial, sans-serif;
@orange: #ed8b00;
@green: #43b02a;
@darkGreen: #32891f;
@yellow: #ffde24;
@grey: #d8d8d8;
@lightGrey: #f3f3f3;


body {
  font: 14px @font;
  background: #fff;
  line-height: 1.5em;
  margin: 0;
}

//Polly
body .row .col{
padding:0;
margin-top: -7px;
}
#container .card{
 margin-top:-5px;
}
#fullpage{
top: 160px;
z-index:-100;
}
#fullpage .section p{
height: 220px;
}
#container{
height: 60%;
}

#sidenav-overlay{
opacity:0!important;
}
.mdi-navigation-menu{
width:70px;
}

.section{
p{
  float: right;
  text-align: left;
  width: 60%;
}
svg{
  margin-top: -100px;
  height: 300%;
  margin-left: -140px;
  position: absolute;
}
 .svg .st0{
   fill: orange !important;
 }
}
.details{
padding: 20px 5px 20px 30px;
font-size: 20px;
}
.deliveryImg{
width:30%; 
float:left;
height: 100px;
overflow-y: hidden;
img{
  margin:10px;
  width:100%;
}
}
.deliveryText{
padding:30px;
width:70%;
margin-left:110px;
}

.currentStatus{
 .svg .st0{
   fill: orange !important;
 }
}
.completed{
 .svg .st0{
   fill: gray !important;
 }
}

//Matt
.logo {
  height: 40px;
  margin: 8px;
}
.home .logo {
  display: block;
  width: 60%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  height: auto;
}
.login-input {
  display: block;
  width: 180px;
  height: 30px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #c3c3c3;
}
.login-button {
  background: #f90;
  color: #fff;
  text-decoration: none;
  line-height: 26px;
}
.box-shadow {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.3);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.main {
  margin-top: 102px;
  &.deliveries {
    margin-top: 157px;
  }
}
.page {
  padding: 15px;
  background: @green;
  .box-shadow;
  h1 {
    color: #fff;
    font-size: 1.33em;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }
}
.delivery {
  border-top: 1px solid @green;
  &:first-of-type {
    border: 0;
  }
  a {
    color: #000;
  }
}
.tab {
  padding: 15px 0;
  color: #fff;
  display: inline-block;
  width: 33.3%;
  text-align: center;
  background: @darkGreen;
  font-size: 1.2em;
  .box-shadow;
  &.active {
    color: #000;
    background: #fff;
  }
}
.retailer-img, .stats {
  display: inline-block;
}
.retailer-img {
  position: relative;
  width: 40%;
  height: 132px;
  img {
    position: absolute;
    width: 80%;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}
.stats {
  width: 60%;
  float: right;
  padding: 10px;
  box-sizing: border-box;
  p {
    margin: 7px;
    span {
      font-weight: 700;
    }
  }
}